<div class="container">
  <h1>To Do</h1>

  <% @tasks.not_done.each do |task| %>
    <ul>
      <li><%= task.description %> <a href="/tasks/<%= task.id() %>/edit">Update this task's description</a></li>
    </ul>
  <% end %>

  <form action='/create_task' method="post">
    <div class="form-group">
      <label for="user_task">Enter a task</label>
      <input name="user_task" class="form-control" type="text" autofocus>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <a class="btn" href="/method">Clear List</a>
  </form>
</div>
